* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(253, 245, 255);
    color:gray;
    line-height: 1.6;
}

header{
    background-color: rgb(255, 163, 224);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin-bottom:  5px;
    font-size: 2.5em;
}

header h2{
    font-size: 1.2em;
    color:whitesmoke;
    font-weight: 400;
}

nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover{
    color:rgb(146, 4, 104);
    
}

main{
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
}

section{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rbga(0, 0, 0, 0.1);
}

section h2{
    margin-bottom: 15px;
    color: rgb(146, 4, 104);
    border-bottom: 2px solid rgb(241, 113, 224);
    padding-bottom: 5px;
}

footer{
    background-color: rgb(231, 164, 217);
    color: whitesmoke;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}